<!DOCTYPE html>
<html lang="es">
    <head>
        <meta name="description" content="Inmobiliaria">
        <meta name="keywords"  content="Casas, Alquilar, Vender casas, Comprar, inmobiliaria, Departamentos">
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css2?family=Martel&display=swap" rel="stylesheet">
        <link rel="icon" href="../img/favicon.ico" >
        <link href="https://fonts.googleapis.com/css2?family=Epilogue&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../css/style.css" />
        <title>Inmobiliaria Fattore | Vendé</title>
    </head>
    
    <body>
        <header class="encabezado">
            <a class="logoPrueba" href="../index.html">FATTORE INMOBILIARIA</a>

            <div class="flexsearch">
                <div class="flexsearch--wrapper">
                    <form class="flexsearch--form" action="#" method="post">
                        <div class="flexsearch--input-wrapper">
                            <input class="flexsearch--input" type="search" placeholder="Buscá">
                        </div>
                        <input class="flexsearch--submit" type="submit" value="&#10140;"/>
                    </form>
                </div>
            </div>
        </header>
    
            <nav class="navegador">
                <ul>
                    <li><a href="nosotros.html"><h2>Nosotros</h2></a></li>
                    <li><a href="compra.html"><h2>Comprá</h2></a></li>
                    <li><a href="vende.html"><h2>Vendé</h2></a></li>
                    <li><a href="alquila.html"><h2>Alquilá</h2></a></li>
                    <li><a href="contacto.html"><h2>Contacto</h2></a></li>
                </ul>
            </nav>
        <h3 id="tituloMov">Alquilá</h3>

        <main class="mainAlquila">
            <div class="box">
                <img src="https://picsum.photos/300">
                <h3>Ubicación</h3>
                <p>Ambientes + precio</p>
            </div>
            <div class="box">
                <img src="https://picsum.photos/300">
                <h3>Ubicación</h3>
                <p>Ambientes + precio</p>
            </div>
            <div class="box">
                <img src="https://picsum.photos/300">
                <h3>Ubicación</h3>
                <p>Ambientes + precio</p>
            </div>
            <div class="box">
                <img src="https://picsum.photos/300">
                <h3>Ubicación</h3>
                <p>Ambientes + precio</p>
            </div>       
            <div class="box">
                <img src="https://picsum.photos/300">
                <h3>Ubicación</h3>
                <p>Ambientes + precio</p>
            </div>
            <div class="box">
                <img src="https://picsum.photos/300">
                <h3>Ubicación</h3>
                <p>Ambientes + precio</p>
            </div>
            <div class="box">
                <img src="https://picsum.photos/300">
                <h3>Ubicación</h3>
                <p>Ambientes + precio</p>
            </div>
            <div class="box">
                <img src="https://picsum.photos/300">
                <h3>Ubicación</h3>
                <p>Ambientes + precio</p>
            </div>

        </main>

        
        
        <footer class="piePagina">

            <p class=".copyright">© Copyright 2020 Inmobiliaria Fattore</p>
            <p> Logos Redes Sociales </p>
        <div class="pieNav">    
            <a href="nosotros.html">Nosotros</a> |
            <a href="compra.html">Comprá</a> |
            <a href="vende.html">Vendé</a> |
            <a href="alquila.html">Alquilá</a> |
            <a href ="contacto.html">Contacto</a>
        </div> 

        </footer>

    </body>
</html>