<!DOCTYPE html>
<html lang="es">
    <head>
        <meta name="description" content="Inmobiliaria">
        <meta name="keywords"  content="Casas, Alquilar, Vender casas, Comprar, inmobiliaria, Departamentos">
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css2?family=Martel&display=swap" rel="stylesheet">
        <link rel="icon" href="../img/favicon.ico" >
        <link href="https://fonts.googleapis.com/css2?family=Epilogue&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../css/style.css" />
        <title>Inmobiliaria Fattore | Vendé</title>
    </head>
    <body>
        <header class="encabezado">
            <a class="logoPrueba" href="../index.html">FATTORE INMOBILIARIA</a>

            <div class="flexsearch">
                <div class="flexsearch--wrapper">
                    <form class="flexsearch--form" action="#" method="post">
                        <div class="flexsearch--input-wrapper">
                            <input class="flexsearch--input" type="search" placeholder="Buscá">
                        </div>
                        <input class="flexsearch--submit" type="submit" value="&#10140;"/>
                    </form>
                </div>
            </div>
        </header>

        <nav class="navegador">
            <ul>
                <li><a href="nosotros.html"><h2>Nosotros</h2></a></li>
                <li><a href="compra.html"><h2>Comprá</h2></a></li>
                <li><a href="vende.html"><h2>Vendé</h2></a></li>
                <li><a href="alquila.html"><h2>Alquilá</h2></a></li>
                <li><a href="contacto.html"><h2>Contacto</h2></a></li>
            </ul>
        </nav>
        <h3 id="tituloMov">Nosotros</h3>
        <div class=textoNosotros>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ipsum felis, dictum sit amet leo a, pellentesque efficitur felis. Praesent sit amet luctus quam, consequat tincidunt nibh. Donec mattis nisl quis risus ornare, eget ultricies libero commodo. Morbi feugiat leo leo. Integer facilisis cursus ultricies. Nulla facilisi. Proin suscipit finibus turpis, ac gravida ligula sollicitudin et.</p>
        </div>        
        <br>
        <div class=textoNosotros>    
        <p>Nunc sed dui nunc. Mauris posuere aliquet quam in rutrum. Nullam sodales enim sit amet enim commodo eleifend. Proin eu orci velit. Phasellus eu tristique quam. Sed eleifend, felis sodales aliquet pulvinar, sem tortor consectetur felis, nec bibendum urna elit non ipsum. Nulla placerat est eu luctus facilisis. Proin bibendum massa sem, ac egestas turpis cursus eget. Proin quis neque non lacus pretium mattis. Phasellus id massa pretium, dapibus turpis eu, consequat ex.</p>
        </div>    
        <br>
        <div class=textoNosotros>          
        <p>In aliquet elit nec pharetra mattis. Cras nibh neque, accumsan ut dui id, luctus hendrerit nibh. Vestibulum fringilla elementum magna non tincidunt. Duis pellentesque, lectus eu imperdiet molestie, ipsum neque feugiat erat, non consequat metus mi vel ante. Aenean lacinia neque quis magna pellentesque vestibulum. Praesent risus eros, sollicitudin vitae venenatis at, varius in ante. Nulla porttitor urna eget ante eleifend molestie. Curabitur dignissim maximus erat et vehicula. Suspendisse convallis eu purus ut vestibulum. Aenean at augue vestibulum, vehicula nisl sed, pellentesque purus. Praesent posuere ipsum id hendrerit accumsan. Sed non urna nec turpis mollis tempor ut sit amet ante. Sed rutrum quam fermentum, dictum neque in, luctus purus. Nunc eleifend eleifend mollis. Sed nulla metus, iaculis venenatis interdum quis, hendrerit quis tortor.</p>
        </div>
        <table border="1">
            
            <tr>
                <th></th>
                <th>Tiempos de venta</th>
                <th>Comisión</th>
                <th>Ventajas</th>
            </tr>
            <tr>
                <th>Inmobiliaria Fattore</th>
                <td><p align="center">Menor a 1 mes</p></td>
                <td>9%</td>
                <td>
                    <ul>
                        <li>Atención Personalizada</li>
                        <li>Claridad y Transparencia</li>
                        <li>Mejores Precios</li>
                        <li>Responsabilidad</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <th>Competencia</th>
                <td>Mayor a 1 mes</td>
                <td>10%</td>
                <td>Ninguna</td>
            </tr>
           
        </table>

        <footer class="piePagina">

            <p class=".copyright">© Copyright 2020 Inmobiliaria Fattore</p>
            <p> Logos Redes Sociales </p>
        <div class="pieNav">    
            <a href="nosotros.html">Nosotros</a> |
            <a href="compra.html">Comprá</a> |
            <a href="vende.html">Vendé</a> |
            <a href="alquila.html">Alquilá</a> |
            <a href ="contacto.html">Contacto</a>
        </div> 

        </footer>

    </body>
</html>