<!DOCTYPE html>
<html lang="es">
    <head>
        <meta name="description" content="Inmobiliaria">
        <meta name="keywords"  content="Casas, Alquilar, Vender casas, Comprar, inmobiliaria, Departamentos">
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css2?family=Martel&display=swap" rel="stylesheet">
        <link rel="icon" href="../img/favicon.ico" >
        <link href="https://fonts.googleapis.com/css2?family=Epilogue&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../css/style.css" />
        <title>Inmobiliaria Fattore | Vendé</title>
    </head>
    <body>
        <header class="encabezado">
            <a class="logoPrueba" href="../index.html">FATTORE INMOBILIARIA</a>

            <div class="flexsearch">
                <div class="flexsearch--wrapper">
                    <form class="flexsearch--form" action="#" method="post">
                        <div class="flexsearch--input-wrapper">
                            <input class="flexsearch--input" type="search" placeholder="Buscá">
                        </div>
                        <input class="flexsearch--submit" type="submit" value="&#10140;"/>
                    </form>
                </div>
            </div>
        </header>

        <nav class="navegador">
            <ul>
                <li><a href="nosotros.html"><h2>Nosotros</h2></a></li>
                <li><a href="compra.html"><h2>Comprá</h2></a></li>
                <li><a href="vende.html"><h2>Vendé</h2></a></li>
                <li><a href="alquila.html"><h2>Alquilá</h2></a></li>
                <li><a href="contacto.html"><h2>Contacto</h2></a></li>
            </ul>
        </nav>
        <div class="cuerpoVenta">
        <h3 class="blanco" id="tituloMov">Vendé</h3>

        <form form class="formularioVenta">
            <label for="nombre">Nombre completo</label>
            <input type="text" id="nombre" required/>
            
            <label for="correo">E-mail</label>
            <input type="email" id="correo" required />
        <br />
            
            <label for="telefono">Teléfono</label>
            <input type="number" id="telefono" required />
    
            <label for="precio">Precio</label>
            <input type="number" id="precio" required />
    
    
            
        <br />
    
            <label for="ubicacion">Ubicación</label>
            <input type="text" id="ubicacion" required />
    
        <br />
        
            <label for="asunto">Asunto</label>
            <input type="text" id="asunto" />
    
    
        <br />
            <textarea maxlength="100" placeholder="Subí tus imagenes!" rows="4" cols="50"></textarea>
        <br />
            <textarea maxlength="100" placeholder="Descripción de la propiedad" rows="6" cols="100"></textarea>
        <br />    
            <label>¿Recibir actualizaciones semanales sobre la publicación?</label>
            <input type="checkbox" name="acepta" value="SI" />
               
    
        <br />
            <input type="submit" value="Publicar"/>
            <input type="reset" value="Borrar todo"/>
    
        </form>
        
        <br />
        <iframe id="mapa" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d13137.528426543311!2d-58.40592325!3d-34.59449805!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sar!4v1596412885635!5m2!1ses!2sar" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

        </div>
        
        <footer class="piePagina">

            <p class=".copyright">© Copyright 2020 Inmobiliaria Fattore</p>
            <p> Logos Redes Sociales </p>
        <div class="pieNav">    
            <a href="nosotros.html">Nosotros</a> |
            <a href="compra.html">Comprá</a> |
            <a href="vende.html">Vendé</a> |
            <a href="alquila.html">Alquilá</a> |
            <a href ="contacto.html">Contacto</a>
        </div> 

        </footer>

    </body>
</html>